/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.addingContact{
    -fx-background-image: url("AddingContact.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: cover;   
}
