/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-image: url("BackGround.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;

}
