/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-image: url("BackGround.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;   
    -fx-justify-content: center;
}

.buttonLogo{
    -fx-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    -fx-background-image: url("ContactlyLogo.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: cover;    
}

.mainLabel{
    
    
}

