/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-image: url("BackGround.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;   
    -fx-justify-content: center;
}

.buttonLogo{
    -fx-background-image: url("ContactlyLogo.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: cover;   
}

.mainLabel{
    
    
}

